.divGlobale
    max-width: 830px
    margin-left: auto
    margin-right: auto
    height: 990px
    margin-top: 20px
.divReverse
    flex: 1
    border-radius: 15px
    max-height: 680px
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png')//('./img/Whatsapp-chat-wallpapers.png')
    background-size: contain
    z-index: -1
    background-repeat: repeat
    background-position: center
    padding: 30px
    overflow: scroll
.Users
    position: relative
    font-size: 16px
    padding: 10px
    width: fit-content
    border-radius: 10px
    background-color: #F1F1F1
    margin-bottom: 30px
    max-width: 100px
.divUser
    margin-left: auto
    background-color: #DCF8C6
strong
    position: absolute
    top: -15px
    font-weight: 800
    font-size: 10px
.input-container
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
input
    flex: 1
    border-radius: 10px
    border: none
    outline: none
.btnMessage
    border: none
    outline: none
.TempsRight
    color: #A3A7A0
    font-size: 11px
.TempsLeft
    color: #A3A7A0
    font-size: 11px


    